.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sil-list {  
  padding: 0;
  margin: 16px;
  border-radius: 5px;
  border: 1px solid #CCC;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.sil-list__item {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  border-bottom: 1px solid #ccc;
}

.sil-list li:last-child { border-bottom: none; }

.sil-list__item span {
  font-weight: bold;
  margin: 0;
}
.sil-list__item p{
margin: 2px;
}

.sil-list__buttons {
  display: flex;
  align-self: center;
  & div:first-child {
    margin-left: 16px;
  }
}

.hide{ display: none !important;}
.magin10{margin: 10px;}
.width50{width: 50%;}
.icon_bg{
    background: none !important;
    border: none !important;    
    box-shadow: none !important;
}
.delete_icon{
  color: black !important;
}
.info_icon{
  color: #0063c5 !important;
}
.customPill{
  -webkit-box-align: center;
    align-items: center;
    display: inline-flex;
    max-width: 100%;
    height: 24px;
    font-size: 14px;
    color: rgb(0, 74, 148);
    border-radius: 12px / 50%;
    padding: 0px 32px;
    background: rgb(229, 241, 254);
}